<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>styled image</string>
	<key>CFBundleIdentifier</key>
	<string>com.neonto.plugin.reactstudio.styledimage</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>SPXPluginTypeId</key>
	<string>exchange.spx.plugin.element</string>
	<key>SPXPluginDependencies</key>
	<array>
		<string>js/mustache.js</string>
	</array>
</dict>
</plist>
